body{
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: large;   
    background-color: rgb(239, 239, 239); 
}
ul{
    margin: 0%;
    list-style-type: none;
    float: left;
    position: relative;
    z-index: 0.5;
    width: 100%;
    padding-left: 0;
}
.barElement{
    text-decoration: none;
    display:flexbox;
    box-sizing: border-box;
    float: left;
    list-style-type: none;
    padding: 20px 20px;
    color: rgb(81, 89, 91);
    font-size: large;
}
.barElement:hover{
    text-decoration: none;
    background-color: rgb(186, 183, 213);
}

a{
    text-decoration: none;
    color: rgb(1, 1, 1);
}

button{
  float: right;
  clear: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #6B7280;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  width: auto;
}

button:hover {
  background-color: #374151;
  color: antiquewhite;
}



.fLayout{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 5%;
}

.fList{
    display: block;
}